/* FORM FIELDS */

input {
	line-height: normal;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="number"],
input[type="date"],
textarea,
select {
	color: $black;
	padding: 12px 15px;
	width: 100%;
	background: #fbfcfc;
	border: 1px solid $border-color;
	font-weight: 300;
}


.dropdown {
	color: $black;
	padding: 13px 15px;
	width: 100%;
	background: #fbfcfc;
	border: 1px solid $border-color;
	font-weight: 300;
	display: flex;
	align-items: center;
	svg {
		position: absolute;
		right: 20px;
	}
}

.input-group{
	z-index: 0;
}

input[type="search"]{
	padding: 12px 45px 12px 15px;
}

textarea{
	text-align: left;
	overflow-x: hidden;
}

select{
	line-height: 1.3;
}



select{
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	overflow: hidden;
	cursor: pointer;
}


input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
{
	-webkit-appearance: none;
  margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}



::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:   $paragraph;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    $paragraph;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    $paragraph;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    $paragraph;
}

:focus::-webkit-input-placeholder {
    opacity: 0;
}
:focus:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   opacity:  0;
}
:focus::-moz-placeholder { /* Mozilla Firefox 19+ */
   opacity:  0;
}
:focus:-ms-input-placeholder { /* Internet Explorer 10-11 */
   opacity:  0;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="number"]:focus,
input[type="date"],
textarea:focus {
	color:  $black;
	outline: none;
}

input[type=date]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
}

// input[type="date"] {
// 	position: relative;
// 	overflow: hidden;
// 	z-index: 0;
// 	background-color: rgba(255, 255, 255, 0);
// 	font-size: 15px;
// 	font-weight: 600;
// 	padding: 8px 24px;
// 	height: 42px;
// 	display: table;
// 	color: $link;
// 	transition: all .3s ease;
// 	svg {
// 		margin-top: -3px;
// 		margin-left: 10px;
// 	}
// 	.button__icon-blue {
// 		fill: $link;
// 	}
// 	.button__icon{
// 		fill: white;
// 	}
// 	&:focus {
// 		color: $link;
// 		text-decoration: none;
// 		outline: none;
// 		border-color: $link;
// 	}
// }