.card {
    height: 92px;
    width: 92px;
    background: white;
    border: 2px solid $link;
    border-radius: 5px;
    display: inline-block;
    margin: 5px;
    .card-name {
        display: flex;
        align-items: center;
        height: 100%;
        padding: 5px;
        p {
            width: 100%;
            text-align: center;
            font-size: 13px;
            margin: 0;
        }
    }
    &--cO {
        border-color: $cO;
    }
    &--cY{
        border-color: $cY;
    }
    &--cNG{
        border-color: $cNG;
    }
    &--cSG{
        border-color: $cSG;
    }
    &--cSLG{
        border-color: $cSLG;
    }
    &--cSB{
        border-color: $cSB;
    }
    &--cDB{
        border-color: $cDB;
    }
    &--cP{
        border-color: $cP;
    }
    &--cDP{
        border-color: $cDP;
    }
    &--cPI{
        border-color: $cPI;
    }
    &--cM{
        border-color: $cM;
    }
    &--cGR{
        border-color: $cGR;
    }
}


.cards-set{
    margin-bottom: 20px;
}