.custom-checkbox {
    .custom-control-input:checked {
        &~.custom-control-label::before {
            background-color: $link;
        }
    }
    .custom-control-input:disabled:checked {
        &~.custom-control-label::before {
            background-color: $link;
        }
    }
    &--activities {
        .custom-control-label{
            display: flex;
            &::after {
                width: 1.2rem;
                height: 1.2rem;
            }
            &::before {
                width: 1.2rem;
                height: 1.2rem;
                background: none;
                border: 1px solid $dark-border-color;
                border-radius: 0;
            }
        }
    }
}
