// Brand colors //

$border-color: rgba(73,99,254,0.1);
$dark-border-color: rgba(87,87,87,0.2);
$light-border: rgba(73,99,254,0.1);
$black: #25283D;
$paragraph: #4A4A4A;
$background: #f8fbfd;
$bgLightBlue: #F7F9FF;
$vsBackground: #FDFFFC;
$lightText: #a9adb6;
$dark-gray: #4b4c4e;
$link: #4963FE;
$link-active: #324ce8;
$green: #11C684;
$violet: #8C19E5;  
$gradient: linear-gradient(270deg, #4963FE 0%, #11C684 100%);
$gradientSb: linear-gradient(90deg, rgba(73,99,254,0.15) 0%, rgba(73,99,254,0) 100%);


// Card colors //@at-root

$cO: #F5A623;
$cY: #F8E71C;
$cNG: #7ED321;
$cSG: #11C684;
$cSLG: #50E3C2;
$cSB: #4A90E2;
$cDB: #2F02D0;
$cP: #8C19E5;
$cDP: #6009A3;
$cPI: #CC2E7F;
$cM: #CF52E9;
$cGR: #4A4A4A;




// Brand typography //

$font__headings: 'Open Sans', sans-serif;

$font__body: 'Open Sans', sans-serif;

 